{
  "env": {
    "mocha": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "generators": true,
    "templateStrings": true,
    "globalReturn": true,
  },
  "rules": {
    "strict": 0,
    "semi": 0,
    "no-undef": 2,
    "quotes": 0,
    "eqeqeq": 2,
    "camelcase": [1, {"properties": "always"}],
    "brace-style": 2,
    "max-depth": [2, 2],
    "max-params": [2, 3],
    "consistent-return": 0,
    "space-before-blocks": 2,
    "space-return-throw-case": 2,
    "space-after-keywords": 2,
    "no-delete-var": 2,
    "no-unneeded-ternary": 2,
    "no-spaced-func": 2,
    "no-shadow": 0,
    "no-new-object": 2,
    "no-dupe-keys": 2,
    "no-undef-init": 2,
    "no-undefined": 2,
    "no-new-require": 2,
    "no-func-assign": 2,
    "no-unreachable": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 2,
    "no-extra-parens": 1,
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "no-array-constructor": 0,
    "no-multiple-empty-lines": [1, {"max": 1}],
    "callback-return": [2, ["callback", "cb", "next"]],
    "comma-spacing": [2, {"before": false, "after": true}],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "semi-spacing": 2
  }
}
